<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973330942450-13jghs6s9vmcqr3lf7tlkoo0ae5nmvnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973330942450-13jghs6s9vmcqr3lf7tlkoo0ae5nmvnh</string>
	<key>API_KEY</key>
	<string>AIzaSyB8L82ZEJa0f6AqrRrB4QbOJ02xZjb8CT0</string>
	<key>GCM_SENDER_ID</key>
	<string>973330942450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.apploja.appLojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>projectlojavirtual-e1284</string>
	<key>STORAGE_BUCKET</key>
	<string>projectlojavirtual-e1284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973330942450:ios:886141d5e80898cdcfc36b</string>
</dict>
</plist>